<div class="wrapper">
    <h1>Hello there!</h1>
    <section>
        <img src="assets/html-file.png">
        <p>I'm a frontend developer with a robust foundation in programming, a skill I've proudly honed through
            self-directed learning. My journey began with a simple curiosity for how websites work, and that curiosity
            quickly
            ignited a passion. Now, I'm channeling that passion into a Computer Science degree, where I'm diving deeper
            into
            the
            complexities of technology and its endless possibilities.
        </p>
    </section>
    <br>
    <section>
        <img src="assets/artificial-intelligence.png">
        <p> In the realm of web development, I find joy in crafting seamless interfaces that speak to users intuitively,
            making
            the complex appear simple. But my aspirations don't stop there; I'm captivated by the potential of
            Artificial
            Intelligence and its capacity to redefine the future of human-computer interaction. I'm eager to explore how
            AI
            can
            enhance the web experiences I create, making them not just functional but intelligent.
        </p>
    </section>
    <br>
    <section>
        <img src="assets/bake.png">
        <p> Away from the keyboard, I'm an avid cook, always experimenting with flavors and techniques to bring joy to
            the
            table. It's a creative outlet that balances the structured thinking required in my professional life. Gaming
            is
            another passion—whether strategizing in an RPG or battling it out in an FPS, I relish the challenge and the
            escape it provides.
        </p>
    </section>
    <br>
    <section>
        <img src="assets/motorcycle.png">
        <p> Motorcycles represent freedom for me—the open road is a place for reflection and adventure. It's on these
            rides
            that I often do my best thinking, dreaming up the next project or solution to a coding problem.
        </p>
    </section>
    <br>
    <section>
        <img src="assets/online-learning.png">
        <p> Looking ahead, I'm excited to merge my love for web development with cutting-edge AI, continuing to learn,
            grow,
            and innovate. Whether it's enhancing user experiences or building smart systems, I'm ready for the challenge
            and
            the
            opportunity to leave my mark on the digital landscape.
        </p>
    </section>
</div>
