<div class="wrapper">

    <div class="education-wrapper">
        <section>
            <div class="img-wrapper"><img src="assets/calendar.png"></div>

            <div class="text-wrapper">
                <div class="date-wrapper">
                    <h1>2022 - now</h1>
                    <span> | </span>
                    <h1>Poznań</h1>
                </div>
                <div class="company-wrapper">
                    <h2>Vizlib Poland Sp. z o.o.</h2>
                    <div class="img-wrapper">
                        <img src="assets/vizlib.png">
                    </div>
                </div>

                <h3>Junior Front-End Developer</h3>
                <ul>
                    <li>Product maintenance - bug fixing, working with legacy code</li>
                    <li>Developing new features</li>
                </ul>
                <slider></slider>
            </div>


        </section>
    </div>
    <div class="timeline-wrapper">
        <div class="timeline"></div>
    </div>
</div>
