<div class="timeline-wrapper">
    <div class="timeline"></div>
    <div class="timeline-point active"></div>
    <div class="timeline-point light"></div>
    <div class="timeline-point light"></div>
    <div class="timeline-point dark"></div>
    <div class="timeline-point dark"></div>
</div>
<div class="subpages-wrapper">
    <div class="subpage"><a class="dark active" routerLink="/main-page">Home</a></div>
    <div class="subpage"><a class="dark" routerLink="/about-me-page">About me</a></div>
    <div class="subpage"><a class="dark" routerLink="/projects-page">My projects</a></div>
    <div class="subpage"><a class="light" routerLink="/blog-page">Blog</a></div>
    <div class="subpage"><a class="light" routerLink="/contact-page">Contact</a></div>
</div>
<router-outlet></router-outlet>