<div class="nav-wrapper" [ngClass]="{blur: blurred}">
    <div class="timeline-wrapper">
        <div class="timeline"></div>
        <div class="timeline-point {{doubleColorBg ? 'light' : 'dark'}}"
             [ngClass]="{active: activeTab === TabType.MainPage }"></div>
        <div class="timeline-point {{doubleColorBg ? 'light' : 'dark'}}"
             [ngClass]="{active: activeTab === TabType.AboutMePage}"></div>
        <div class="timeline-point dark" [ngClass]="{active: activeTab === TabType.MyProjectsPage}"></div>
        <div class="timeline-point dark" [ngClass]="{active: activeTab === TabType.BlogPage}"></div>
        <div class="timeline-point dark" [ngClass]="{active: activeTab === TabType.ContactPage}"></div>
    </div>
    <div class="subpages-wrapper">
        <div class="subpage"><a class="{{doubleColorBg ? 'dark' : 'light'}}"
                                [ngClass]="{active: activeTab === TabType.MainPage}"
                                routerLink="/main-page">Home</a></div>
        <div class="subpage"><a class="{{doubleColorBg ? 'dark' : 'light'}}"
                                [ngClass]="{active: activeTab === TabType.AboutMePage}"
                                routerLink="/about-me-page">About me</a></div>
        <div class="subpage"><a class="light" [ngClass]="{active: activeTab === TabType.MyProjectsPage}"
                                routerLink="/projects-page">My projects</a></div>
        <div class="subpage"><a class="light" [ngClass]="{active: activeTab === TabType.BlogPage}"
                                routerLink="/blog-page">Blog</a></div>
        <div class="subpage"><a class="light" [ngClass]="{active: activeTab === TabType.ContactPage}"
                                routerLink="/contact-page">Contact</a></div>
    </div>
</div>
<router-outlet></router-outlet>