<background></background>
<navigation-bar [activeTab]="TabType.MyProjectsPage"></navigation-bar>
<div class="projects-wrapper">
    <div class="photo-wrapper">
        <img class="github-screenshot" src="assets/github.png">
    </div>
    <div class="github-wrapper">
        <div class="logo-wrapper">
            <a class="logo-link" href="https://github.com/barbara-musial">
                <img class="logo" src="assets/GitHub-logo.png">
            </a>
        </div>
        <div class="project-wrapper">
            <iframe width="100%" height="100%" src="https://barbara-musial.github.io/Weather-app/"></iframe>
        </div>
    </div>
</div>