<div class="wrapper">
    <div class="photo-wrapper">
        <img class="photo" src="assets/photo.png">
    </div>
    <div class="black-box"></div>
</div>
<div class="opacity-wrapper">
    <div class="timeline-wrapper">
        <div class="timeline"></div>
        <div class="timeline-point active"></div>
        <div class="timeline-point light"></div>
        <div class="timeline-point dark"></div>
        <div class="timeline-point dark"></div>
    </div>
    <div class="subpages-wrapper">
        <div class="subpage"><a class="dark active" href="#">Strona główna</a></div>
        <div class="subpage"><a class="dark" href="#">O mnie</a></div>
        <div class="subpage"><a class="light" href="#">Blog</a></div>
        <div class="subpage"><a class="light" href="#">Kontakt</a></div>
    </div>
</div>
