<background [showPhoto]="true"></background>
<navigation-bar [activeTab]="TabType.MainPage" [blurred]="true"></navigation-bar>

<div class="intro-wrapper">
    <div class="name-wrapper">
        <h2>Hi! My name is</h2>
        <h1>Barbara Musiał</h1>
    </div>
    <div class="animated-text-wrapper">
        <h3>I am</h3>
        <type-delete-text-cmp
                [wordArray]="positions"
                [textColor]="'#f5ecef'"
                [fontSize]="'48px'"
                [blinkWidth]="'4px'"
        ></type-delete-text-cmp>
    </div>
</div>
