<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="assets/html.png" height="100" width="250" alt=""/>
        </div>
        <div class="slide">
            <img src="assets/css.png" height="100" width="250" alt=""/>
        </div>
        <div class="slide">
            <img src="assets/sass.png" height="100" width="250" alt=""/>
        </div>
        <div class="slide">
            <img src="assets/js.png" height="100" width="250" alt=""/>
        </div>
        <div class="slide">
            <img src="assets/ts.png" height="100" width="250" alt=""/>
        </div>
        <div class="slide">
            <img src="assets/angular.png" height="100" width="250" alt=""/>
        </div>
        <div class="slide">
            <img src="assets/Rxjs.png" height="100" width="250" alt=""/>
        </div>
        <div class="slide">
            <img src="assets/html.png" height="100" width="250" alt=""/>
        </div>
        <div class="slide">
            <img src="assets/css.png" height="100" width="250" alt=""/>
        </div>
        <div class="slide">
            <img src="assets/sass.png" height="100" width="250" alt=""/>
        </div>
        <div class="slide">
            <img src="assets/js.png" height="100" width="250" alt=""/>
        </div>
    </div>
</div>