//colors
$main-color-black: #1a1c1b;
$main-color-light-pink: #ce9ba0;
$main-color-lighter-pink: #f5ecef;
$main-color-pink: #a45661;
$main-color-grey: #656366;

//subpages
$subpages-font-size: 36px;

//main page
$name-font-size: 56px;