<div class="wrapper">

    <div class="education-wrapper">
        <section>
            <div class="img-wrapper"><img src="assets/calendar.png"></div>

            <div class="text-wrapper">
                <div class="date-wrapper">
                    <h1>2022 - now</h1>
                    <span> | </span>
                    <h1>Poznań</h1>
                </div>
                <div class="university-wrapper">
                    <h2>Collegium da Vinci </h2>
                    <div class="img-wrapper">
                        <img src="assets/CDV.png">
                    </div>
                </div>

                <h3>Computer Science</h3>
                <h4>Web development / Machine Learning - AI</h4>
            </div>

        </section>
    </div>
    <div class="timeline-wrapper">
        <div class="timeline"></div>
    </div>
</div>
